**********************************************************************************************************
*                                                                                                        *
* DRILL TAPE SUMMARY REPORT                                                                              *
*                                                                                                        *
* C:\DOCUMENTS AND SETTINGS\VILLAVERDE\MEUS DOCUMENTOS\CARDIOMED\PROJETO LONGHORN\LAYOUT\LONGHORN-3.MAX  *
* Fri Mar 25 10:08:02 2011                                                                               *
*                                                                                                        *
**********************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       150      10       200      100                                                                                 
T2       370      12       200      100                                                                                 
T3       420      2        200      100                                                                                 
T4       2027     2        200      100                                                                                 
