***********************************************************************************************
*                                                                                             *
* DRILL TAPE SUMMARY REPORT                                                                   *
*                                                                                             *
* C:\USERS\VILLAVERDE\DESKTOP\KAIROS\CARDIOMED\WCS PULSE\PROTOTYPE\LAYOUT\LONGHORN_NEW-1.MAX  *
* Thu Aug 30 14:27:16 2012                                                                    *
*                                                                                             *
***********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       150      5        200      100                                                                                 
T2       340      14       200      100                                                                                 
T3       380      2        200      100                                                                                 
T4       2028     4        200      100                                                                                 
